@page
@model UploadingFileDemo.UI.Pages.Admin_Only.UploadExample.UploadUsingJqueryModel
@{
    var photoPath = "~/images/iamtuse_upload/" + (Model.UploadImage.Image ?? "jjc.jpg");
    ViewData["Title"] = "Client Side Upload Demo";
}

<div class="border backgroundWhite container shadow">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Change Profile Photo</h2>
            <p>Upload 5 images to see the magic!</p>
        </div>

        <div class="col-4 text-right">
                @if (photoPath != null)
                {
                    <h3><b><i>Client Side Validation!</i></b></h3>
                    <img src="@photoPath" class="rounded-circle img-fluid" asp-append-version="true" />
                }
            </div>

    </div>
    <br /><br />
    <form method="post" enctype="multipart/form-data" asp-page="/Admin_Only/UploadExample/UploadUsingJquery">
        <div class="form-group row">
            <label asp-for="UploadImage.Image" class="col-form-label col-md-2"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="UploadImage.Image" class="form-control custom-file-input"
                           type="file" name="files" id="imageUpload"/>
                    <label class="custom-file-label">Choose File...</label>
                    <span class="text-danger" asp-validation-for="UploadImage.Image"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="form-group row">
                <button type="submit" class="btn btn-primary mb-3" id="btnSubmit"
                        onclick="return validateInput()">
                    <i class="fas fa-upload"></i>&nbsp; Upload
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/js/uploadImage.js"></script>
}